*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6;
}

.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFCC00;
    height: 40px;
}

.header{
    display: flex;
    justify-content: flex-start; /* Deixar os icones nas extremidades */
    align-items: center;
    background: linear-gradient(90deg, #0B5C00 13%, #419C35 69%); /* 90deg -> gradiente na horizontal (da esquerda para direita), #0B5C00 13% → começa com verde escuro em 13%, #419C35 69% → vai clareando até o verde claro em 69%. */
    height: 180px;
    padding: 0 20px; /* Laterais ajustadas */
    position: relative; /* Para centralizar a logo depois */
    margin-bottom: 40px;
}

.logo{
    width: 320px;
    position: absolute; /* logo centralizada */
    left: 50%; /* distância da esquerda */
    transform: translateX(-50%); /* serve para corrigir a centralização de um elemento quando usamos left: 50%.*/
}

/* seta no canto superior esquerdo */
.seta-esquerda{
    position: absolute; /* sai do fluxo e pode ser posicionada livremente */
    top: -10px;  /* distância do topo */
    font-size: 50px; /* é usado dessa forma por conta de ser reconhecida como texto */
    color: #FFCC00;
    cursor: pointer;
}

.tres-barrinhas{
    position: absolute;
    top: -10px;
    right: 20px;
    font-size: 50px;
    color: #FFCC00;
    cursor: pointer;
}

.cardJogador{
    display: block; /* transforma a imagem em bloco */
    margin: 0 auto; /* distribui igualmente as margens esquerda e direita */
    width: 100vh;
    margin-bottom: 10vh;
}

.cardJogador-descricao{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: #0B5C00;
   font-weight: bold;
   padding: 0 25vh;
   margin-bottom: 10vh;
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-criarConta{
    background-color: #0B5C00;
    padding: 20px 380px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 20px;
    color: #FFCC00;
    border: 0;
}

.footer{
    background-color: #419C35; /* verde do rodapé */
    color: #FFCC00; /* amarelo dos textos */
    padding: 20px;
    margin-top: 90vh;
}

.footer-top{
    display: flex;
    align-items: center;
    gap: 10px; /* espaçamento de linha e coluna*/
    margin-bottom: 20px;
}

.footer-top span{
    font-size: 14px;
    font-weight: bold;
}

.social-icons i{
    font-size: 20px;
    margin: 0 5px;
    cursor: pointer;
}

.footer-links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}

.footer-links .column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-links a {
    color: #FFCC00;
    text-decoration: none;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}

